/* menu5px */

.glossymenu {
	margin: 0;
	padding: 0;
	width: 236px;
	/*border: 1px solid #804000;*/
border-bottom-width: 0;
}
.glossymenu a.menuitem {
	/*background:  repeat-x bottom left;*/
font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: black;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image		*/
	width: auto;
	padding: 10px 0;
	padding-left: 10px;
	text-decoration: none;
	background-color:white;
	box-shadow: inset 0px 0px 20px 10px #DAF3FD;
	border-radius:0.5em;
	margin-left:1;
	border:black solid;
}
/*white*/
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active {
	color: #000000;
	width:auto;
}
.glossymenu a.menuitem .statusicon { /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}
/* url(../../img/bg_bronce.png)*/
.glossymenu a.menuitem:hover {
	background:blue;
	width:auto;
	color:white;
}
.glossymenu div.submenu { /*DIV that contains each sub menu*/
	background: white;
}
.glossymenu div.submenu ul { /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
padding:;
}
.glossymenu div.submenu ul li {
/*border-bottom: 1px solid #804000;
list-style-image:url(/imagenes/algo.jpg);*/
}
.glossymenu div.submenu ul li a {
	display: block;
	font: bold 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	padding: 4px 0;
	padding-left: 2px;
	border:blue solid;
	border-radius:0.5em;
}
/*#DFDCCB background-color:#FFFFD2; url(../../img/bg_bronce.png)*/
.glossymenu div.submenu ul li a:hover {
	color: white;
	height: auto;
	width:auto;
	display:block;
	box-shadow: inset 0px 0px 20px 2px white;
	background:blue;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;/*border-radius:  10x; -webkit-border-radius: 10px; -moz-border-radius: 10px; text-align:center;*/

}

/*li{
list-style-position:inherit; list-style-type:circle;
}*/
