* {
	margin: 0;
	padding: 0;
}
/*16px= 12pt = 100% = 1em */
/*cuerpo*/
body {
	background: #DAF3FD url(../image/casa.png) no-repeat top;/*fondo que no se repite alineado al tope*/
	color: #000;/* color de letras*/
	font-family: Arial, Helvetica, sans-serif;/* tipo de letra*/
	font-size: 1em;/* tamaño de letra*/
}
/*titulo, logo de iveco, principal y menu despleaglabe*/
h1, p#logo, section#principal, nav#menu {
	display: inline-block;/* tipo bloque que se alinea css3*/
	margin: 0.25em auto;/* margen automatico*/
	max-width: 740px;
	padding: 0.25em;/* margen de letras dentro del cuadro*/
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.7);/* sombras del texto*/
	vertical-align: top; /* alineacion al tope*/
}
/*menu*/
nav#menu {
	border-radius: 0.5em;
	background: rgba(173, 193, 225, .8);
	max-width: 400px;
	min-height: 500px;
	text-shadow: none;
}
/* principal*/
section#principal {
	background: rgba(173, 193, 225, .8);
	border-radius: 0.5em;
	max-width: 660px;
	min-height: 500px;
	width: 100%;
}
/* cabecera, pie de pagina y contenedor completo*/
header, nav, footer, section#contenedor {
	border-radius: 0.5em;
	margin: 0.25em auto;
	max-width: 940px;
	padding: 0;
	text-align: center;
}
/* contenedor completo*/
section#contenedor {
	background: white;
}
/* pie de pagina y botoneria*/
nav#linea, footer {
	box-shadow: inset 0px 0px 20px 10px #000066;
	color: black;
	max-height: 40px;
}
/* todos los parrafos*/
p {
	padding: 10px;
}
/* logo iveco animacion*/
#logo {
	border-radius: 0.5em;
	transition: all 0.5s ease-in;
	font-size:15px;
}
/* logo iveco animacion*/
#logo:hover {
	transform: rotate(360deg);
}
/* botones y menu*/
ul {
	list-style: none;
	max-width: 890px;
	text-align: right;
}
/* imagenes de botones*/
li#linea, img#inicio, img#help, img#mapa, img#user, img#pantallass{
	display: inline-block;
	max-height: 40px;
	max-width: 40px;
	vertical-align: top;
}
/*animacion imagenes de botones*/
li#linea a img:hover {
	background: white;
	border-radius: 1em;
}
/* todas las tablas*/
table {
	display: inline-block;
	inline-box-align: initial;

}
/* todas las imagenes*/
#imagen {
	max-width: 660px;
	min-height: 220px
}
/* fondo principal de gestor de entrada*/
section#principal2 {
	border-radius: 0.5em;
	background: rgba(218, 243, 253, 1.8);
	box-shadow: inset 0px 0px 0px 256px rgba(0, 0, 121, .2);
	display: inline-block;
	margin: 0.25em auto;
	max-width: 940px;
	min-height: 500px;
	text-align: center;
	vertical-align: top;
	width: 95%;
}
/*botones de dispositivos y servicios*/
#botones {
	background-color: #D1FFD7;
	border-radius: 15px 15px 15px 15px;
	border-style: Outset;
	box-shadow: inset 0px 0px 50px 5px #0F0;
	display: inline-block;
	margin: 0.25em;
	max-width: 130px;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	width: 90%;
}
#botones a {
	text-decoration:none;
	padding: 0.5em;
	color:black;
	font-weight:bold;
	transition:all 1s ease-in;
	}
#botones:hover {
	transform:scale(1.1,1.1);
	inline-box-align:last;
	}
#botones1 {
	background-color: #FF8181;
border-radius: 15px 15px 15px 15px;
	border-style: Outset;
	box-shadow: inset 0px 0px 50px 5px red;
	display: inline-block;
	margin: 0.25em;
	max-width: 130px;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	width: 90%;
	}
#botones1 a {
	text-decoration:none;
	padding: 0.5em;
	color:black;
	font-weight:bold;
	transition:all 1s ease-in;
	}
#botones1:hover {
	transform:scale(1.1,1.1);
	inline-box-align:last;
	}
#botones2 {
	background-color: #D1FFD7;
	border-radius: 15px 15px 15px 15px;
	border-style: Outset;
	box-shadow: inset 0px 0px 50px 5px #0F0;
	display: inline-block;
	margin: 0.25em;
	max-width: 140px;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	width:90%;
	}
#botones2 a {
	text-decoration:none;
	padding: 0.25em;
	color:black;
	font-weight:bold;
	transition:all 1s ease-in;
	}

#botones2:hover {
	transform:scale(1.1,1.1);
	inline-box-align:last;
	}

#botones3 {
	background-color: #D1FFD7;
	border-radius: 15px 15px 15px 15px;
	border-style: Outset;
	box-shadow: inset 0px 0px 50px 5px #0F0;
	display: inline-block;
	margin: 0.25em;
	max-width: 140px;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	width:90%;
	}
#botones3 a {
	text-decoration:none;
	padding: 0.25em;
	color:black;
	font-weight:bold;
	transition:all 1s ease-in;
	}

#botones3:hover {
	transform:scale(1.1,1.1);
	inline-box-align:last;
	}
.pantallac{
	transition:all 0.5s ease-in;
	display:inline-block;
	padding: 0.125em;
	float:right;
	vertical-align: top;
}
.pantallac:hover{
	transform:scale(1.2,1.2);	
	}


    .tooltip {
        display: none;
        position: absolute;
        max-width:300px;  
        padding: 10px;
        margin: 0 0 4px 0;    
        z-index: 100;
        bottom: 100%;
        background: #C1E0FF;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
	    border-radius: 5px;
    }

    .tooltip:after {
        content: "";
        position: absolute;
        bottom: -14px;
        z-index: 100;
        border: 0 solid #C1E0FF;
        border-bottom: 14px solid transparent;
	    border-left-width: 10px;
        left: 50%;
    }
 
    .tooltip:before {
        content: "";
        position: absolute;
        border: 0 solid #C1E0FF;
        bottom: -14px;
        z-index: 100;
	    border-right-width: 10px;
        border-bottom: 14px solid transparent;

        right: 50%;
    }
	a{
		text-decoration:none;
		}