

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:absolute;
    display:inline-block;
	text-align:right;
    font-size:12px;
	transform:rotate(360);
}

/* Login Button */
#loginButton { 
	
    display:inline-block;
	text-align:right; 
    -moz-border-radius:3px;
    cursor:pointer;
}




/* Login Box */
#loginBox:visited{
	transform:rotate(360deg);
	}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
	transition:all 2s ease-in;
}

/* Login Form */
#loginForm {
	max-width:248px;
    width:95%; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
	box-shadow: inset 0px 0px 0px 300px rgba(0, 0, 121, .2);
    padding:5px;
	background:#DAF3FD;
}

#loginForm fieldset {	
    display:inline-block;
    border:0;
    padding:0;
}

fieldset#body {

    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}
.session li {
	box-shadow: inset 0px 0px 20px 10px #DAF3FD;
	border-radius:3px;
	padding:0.25em;
	margin:0.25em;
	border-radius:1em;
	background:white;
	}
.session li a{
	color:black;
	text-decoration:none;
	text-align:center;	
	font-weight:bold;
	transition:all 1s ease-in;
}
.session :hover{
	transform:scale(1.2,1.2);
}
h2{
	background:#DAF3FD;
	text-align:center;
	border-radius:0.5em;
	}
	
h2#alert{
background: none;
text-align:center;
border-radius:0.5em;
font-size: 1.5em;
padding:0px;
margin-left:0px;
}
	
	
